<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
	<style type="text/css">
		.fieldError {
			border-color: darkred;
		}

        .error {
            color: red;
        }

	</style>
</head>
<body>


<div th:if="${session.loginMember}"
     th:text="|${session.loginMember.name}님 환영합니다!|"></div>
<form th:unless="${session.loginMember}" th:object="${loginDTO}" action="login" method="post">

    <div>
        <label for="id">ID : </label><input type="text" th:field="*{id}" th:errorclass="fieldError" />
        <p th:if="${#fields.hasErrors('id')}" th:errorclass="error" th:errors="*{id}" />
    </div>

    <label for="password">PW : </label><input type="password" th:field="*{password}" th:errorclass="fieldError"  />
    <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}" />
    <input type="submit">
</form>

<table>
    <tr>
        <td>순번</td>
        <td>ID</td>
        <td>이름</td>
    </tr>
    <tr th:each="m: ${memberList}">
        <td th:text="${m.seq}"/>
        <td th:text="${m.id}"/>
        <td th:text="${m.name}"/>
    </tr>
</table>

<p><a href="join">회원가입</a></p>
</body>
</html>


